 /*!
* jQuery Mobile Icon Pack - Font Awesome version 1.4.0
*
* Copyright 2013 Andy Matthews
* http://andyMatthews.net
* Released under the GPL/MIT license.
*
*/

.ui-icon-android:after { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M137.556%20134.766q4.464%200%207.673-3.208t3.208-7.673-3.208-7.673-7.673-3.208-7.534%203.208-3.069%207.673%203.069%207.673%207.534%203.208zM255.301%20134.766q4.464%200%207.534-3.208t3.069-7.673-3.069-7.673-7.534-3.208-7.673%203.208-3.208%207.673%203.208%207.673%207.673%203.208zM28.739%20186.105q11.719%200%2020.089%208.371t8.371%2020.089v119.978q0%2011.998-8.231%2020.368t-20.229%208.371-20.368-8.371-8.371-20.368v-119.978q0-11.719%208.371-20.089t20.368-8.371zM324.498%20191.406v185.826q0%2012.835-8.929%2021.763t-21.484%208.929h-20.926v63.337q0%2011.998-8.371%2020.368t-20.368%208.371-20.368-8.371-8.371-20.368v-63.337h-38.504v63.337q0%2011.998-8.371%2020.368t-20.368%208.371q-11.719%200-20.089-8.371t-8.371-20.368l-0.279-63.337h-20.647q-12.835%200-21.763-8.929t-8.929-21.763v-185.826h256.138zM259.766%2078.404q29.855%2015.346%2047.712%2042.829t17.857%2060.128h-258.091q0-32.645%2017.857-60.128t47.991-42.829l-19.81-36.551q-1.953-3.627%201.395-5.581%203.627-1.674%205.581%201.674l20.089%2036.831q26.507-11.719%2056.083-11.719t56.083%2011.719l20.089-36.831q1.953-3.348%205.581-1.674%203.348%201.953%201.395%205.581zM392.857%20214.565v119.978q0%2011.998-8.371%2020.368t-20.368%208.371q-11.719%200-20.089-8.371t-8.371-20.368v-119.978q0-11.998%208.371-20.229t20.089-8.231q11.998%200%2020.368%208.231t8.371%2020.229z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E') }
.ui-nosvg .ui-icon-android:after { background-image: url('png_images/android.png'); }


.ui-icon-apple:after { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M388.672%20339.007q-10.882%2034.877-34.319%2069.754-35.993%2054.688-71.708%2054.688-13.672%200-39.063-8.929-23.996-8.929-42.132-8.929-17.020%200-39.621%209.208-22.601%209.487-36.831%209.487-42.411%200-83.984-72.266-41.016-72.824-41.016-140.346%200-63.616%2031.529-104.353%2031.25-40.179%2079.241-40.179%2020.089%200%2049.386%208.371%2029.018%208.371%2038.504%208.371%2012.556%200%2039.899-9.487%2028.46-9.487%2048.27-9.487%2033.203%200%2059.431%2018.136%2014.509%2010.044%2029.018%2027.902-22.042%2018.694-31.808%2032.924-18.136%2026.228-18.136%2057.757%200%2034.598%2019.252%2062.221t44.085%2035.156zM283.761%2011.719q0%2017.020-8.091%2037.946-8.371%2020.926-25.949%2038.504-15.067%2015.067-30.134%2020.089-10.324%203.069-29.018%204.743%200.837-41.574%2021.763-71.708%2020.647-29.855%2069.754-41.294%200.279%200.837%200.698%203.069t0.698%203.069q0%201.116%200.14%202.79t0.14%202.79z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E') }
.ui-nosvg .ui-icon-apple:after { background-image: url('png_images/apple.png'); }


.ui-icon-bug:after { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M455.357%20267.857q0%207.254-5.301%2012.556t-12.556%205.301h-62.5q0%2047.712-18.694%2080.915l58.036%2058.315q5.301%205.301%205.301%2012.556t-5.301%2012.556q-5.022%205.301-12.556%205.301t-12.556-5.301l-55.246-54.966q-1.395%201.395-4.185%203.627t-11.719%207.952-18.136%2010.184-22.879%208.091-27.065%203.627v-250h-35.714v250q-14.23%200-28.32-3.767t-24.274-9.208-18.415-10.882-12.137-9.068l-4.185-3.906-51.060%2057.757q-5.581%205.859-13.393%205.859-6.696%200-11.998-4.464-5.301-5.022-5.72-12.417t4.325-12.974l56.362-63.337q-16.183-31.808-16.183-76.451h-62.5q-7.254%200-12.556-5.301t-5.301-12.556%205.301-12.556%2012.556-5.301h62.5v-82.031l-48.27-48.27q-5.301-5.301-5.301-12.556t5.301-12.556%2012.556-5.301%2012.556%205.301l48.27%2048.27h235.491l48.27-48.27q5.301-5.301%2012.556-5.301t12.556%205.301%205.301%2012.556-5.301%2012.556l-48.27%2048.27v82.031h62.5q7.254%200%2012.556%205.301t5.301%2012.556zM321.429%20107.143h-178.571q0-37.109%2026.088-63.198t63.198-26.088%2063.198%2026.088%2026.088%2063.198z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E') }
.ui-nosvg .ui-icon-bug:after { background-image: url('png_images/bug.png'); }


.ui-icon-linux:after { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M184.989%20114.676q-3.069%200.279-4.325%202.93t-2.372%202.651q-1.395%200.279-1.395-1.395%200-3.348%205.301-4.185h2.79zM209.263%20118.583q-1.116%200.279-3.208-1.813t-4.883-1.255q6.696-3.069%208.929%200.558%200.837%201.674-0.837%202.511zM111.328%20237.723q-1.116-0.279-1.674%200.837t-1.255%203.488-1.535%203.767-2.79%203.627q-1.953%202.79-0.279%203.348%201.116%200.279%203.488-1.953t3.488-5.022q0.279-0.837%200.558-1.953t0.558-1.674%200.418-1.255%200.14-1.116v-0.837t-0.279-0.698-0.837-0.558zM349.888%20337.891q0-5.022-15.346-11.719%201.116-4.185%202.093-7.673t1.395-7.254%200.837-5.999%200.14-6.278-0.279-5.441-0.977-6.138-1.116-5.72-1.395-6.976-1.535-7.394q-2.79-13.393-13.114-28.739t-20.089-20.926q6.696%205.581%2015.904%2023.159%2024.274%2045.201%2015.067%2077.567-3.069%2011.161-13.951%2011.719-8.649%201.116-10.742-5.162t-2.232-23.298-3.208-29.855q-2.511-10.882-5.441-19.252t-5.441-12.695-4.325-6.836-3.627-4.185-2.093-1.953q-3.906-17.299-8.649-28.739t-8.231-15.625-6.557-9.208-4.185-11.161q-1.116-5.859%201.674-14.927t1.255-13.812-12.417-6.976q-4.185-0.837-12.417-5.022t-9.905-4.464q-2.232-0.279-3.069-7.254t2.232-14.23%2010.044-7.534q10.324-0.837%2014.23%208.371t1.116%2016.183q-3.069%205.301-0.558%207.394t8.371%200.14q3.627-1.116%203.627-10.044v-10.324q-1.395-8.371-3.767-13.951t-5.859-8.51-6.557-4.185-7.534-2.093q-29.855%202.232-24.833%2037.388%200%204.185-0.279%204.185-2.511-2.511-8.231-2.93t-9.208%200.14-4.325-1.395q0.279-15.904-4.464-25.112t-12.556-9.487q-7.534-0.279-11.579%207.673t-4.604%2016.602q-0.279%204.185%200.977%2010.324t3.627%2010.463%204.325%203.767q2.79-0.837%204.464-3.906%201.116-2.511-1.953-2.232-1.953%200-4.325-4.046t-2.651-9.347q-0.279-6.138%202.511-10.324t9.487-3.906q4.743%200%207.534%205.859t2.651%2010.882-0.418%206.138q-6.138%204.185-8.649%208.091-2.232%203.348-7.673%206.557t-5.72%203.488q-3.627%203.906-4.325%207.534t2.093%205.022q3.906%202.232%206.976%205.441t4.464%205.301%205.162%203.627%209.905%201.813q13.114%200.558%2028.46-4.185%200.558-0.279%206.417-1.953t9.626-2.93%208.231-3.627%205.859-4.883q2.511-3.906%205.581-2.232%201.395%200.837%201.813%202.372t-0.837%203.348-4.604%202.651q-5.581%201.674-15.765%205.999t-12.695%205.441q-12.277%205.301-19.531%206.417-6.976%201.395-22.042-0.558-2.79-0.558-2.511%200.558t4.743%205.301q6.976%206.417%2018.694%206.138%204.743-0.279%2010.044-1.953t10.044-3.906%209.347-4.883%208.371-4.743%206.836-3.348%204.883-0.698%202.372%203.069q0%200.558-0.279%201.255t-1.116%201.395-1.674%201.255-2.372%201.395-2.511%201.255-2.79%201.395-2.651%201.255q-7.813%203.906-18.833%2012.277t-18.555%2011.998-13.672%200.279q-5.859-3.069-17.578-20.368-6.138-8.649-6.976-6.138-0.279%200.837-0.279%202.79%200%206.976-4.185%2015.765t-8.231%2015.485-5.859%2016.183%203.208%2017.578q-6.417%201.674-17.438%2025.112t-13.253%2039.341q-0.558%205.022-0.418%2019.252t-1.535%2016.462q-2.232%206.696-8.091%200.837-8.929-8.649-10.044-26.228-0.558-7.813%201.116-15.625%201.116-5.301-0.279-5.022l-1.116%201.395q-10.044%2018.136%202.79%2046.317%201.395%203.348%206.976%207.813t6.696%205.581q5.581%206.417%2029.018%2025.251t25.949%2021.345q4.464%204.185%204.883%2010.603t-3.906%2011.998-12.695%206.417q2.232%204.185%208.091%2012.417t7.813%2015.067%201.953%2019.671q12.835-6.696%201.953-25.669-1.116-2.232-2.93-4.464t-2.651-3.348-0.558-1.674q0.837-1.395%203.627-2.651t5.581%200.698q12.835%2014.509%2046.317%2010.044%2037.109-4.185%2049.386-24.274%206.417-10.603%209.487-8.371%203.348%201.674%202.79%2014.509-0.279%206.976-6.417%2025.669-2.511%206.417-1.674%2010.463t6.696%204.325q0.837-5.301%204.046-21.484t3.767-25.112q0.558-5.859-1.813-20.508t-2.093-27.065%206.417-19.671q4.185-5.022%2014.23-5.022%200.279-10.324%209.626-14.788t20.229-2.93%2016.741%206.278zM174.665%20107.143q0.837-4.743-0.698-8.371t-3.208-4.185q-2.511-0.558-2.511%201.953%200.558%201.395%201.395%201.674%202.79%200%201.953%204.185-0.837%205.581%202.232%205.581%200.837%200%200.837-0.837zM291.574%20162.109q-0.558-2.232-1.813-3.208t-3.627-1.395-4.046-1.535q-1.395-0.837-2.651-2.232t-1.953-2.232-1.535-1.813-1.116-1.116-1.116%200.418q-3.906%204.464%201.953%2012.137t10.882%208.789q2.511%200.279%204.046-2.232t0.977-5.581zM241.909%20102.679q0-3.069-1.395-5.441t-3.069-3.488-2.511-0.837q-3.906%200.279-1.953%201.953l1.116%200.558q3.906%201.116%205.022%208.649%200%200.837%202.232-0.558zM256.976%2037.667q0-0.558-0.698-1.395t-2.511-1.953-2.651-1.674q-4.185-4.185-6.696-4.185-2.511%200.279-3.208%202.093t-0.279%203.627-0.14%203.488q-0.279%201.116-1.674%202.93t-1.674%202.511%200.837%202.372q1.116%200.837%202.232%200t3.069-2.511%204.185-2.511q0.279-0.279%202.511-0.279t4.185-0.558%202.511-1.953zM414.621%20411.831q5.581%203.348%208.649%206.836t3.348%206.696-0.698%206.278-4.325%206.138-6.557%205.441-8.371%205.162-8.789%204.604-8.929%204.325-7.534%203.627q-10.603%205.301-23.856%2015.625t-21.066%2017.857q-4.743%204.464-18.973%205.441t-24.833-4.046q-5.022-2.511-8.231-6.557t-4.604-7.115-6.138-5.441-13.114-2.651q-12.277-0.279-36.272-0.279-5.301%200-15.904%200.418t-16.183%200.698q-12.277%200.279-22.182%204.185t-14.927%208.371-12.137%207.952-14.927%203.208q-8.091-0.279-30.971-8.649t-40.737-11.998q-5.301-1.116-14.23-2.651t-13.951-2.511-11.021-2.651-9.347-4.046-4.743-5.441q-2.79-6.417%201.953-18.555t5.022-15.207q0.279-4.464-1.116-11.161t-2.79-11.858-1.255-10.184%202.93-7.534q3.906-3.348%2015.904-3.906t16.741-3.348q8.371-5.022%2011.719-9.766t3.348-14.23q5.859%2020.368-8.929%2029.576-8.929%205.581-23.159%204.185-9.487-0.837-11.998%202.79-3.627%204.185%201.395%2015.904%200.558%201.674%202.232%205.022t2.372%205.022%201.255%204.743%200.279%206.138q0%204.185-4.743%2013.672t-3.906%2013.393q0.837%204.743%2010.324%207.254%205.581%201.674%2023.577%205.162t27.762%205.72q6.696%201.674%2020.647%206.138t23.019%206.417%2015.485%201.116q11.998-1.674%2017.997-7.813t6.417-13.393-2.093-16.323-5.301-14.509-5.581-10.184q-33.761-53.013-47.154-67.522-18.973-20.647-31.529-11.161-3.069%202.511-4.185-4.185-0.837-4.464-0.558-10.603%200.279-8.091%202.79-14.509t6.696-13.114%206.138-11.719q2.232-5.859%207.394-20.089t8.231-21.763%208.371-17.020%2010.882-15.067q30.692-39.899%2034.598-54.409-3.348-31.25-4.464-86.496-0.558-25.112%206.696-42.271t29.576-29.157q10.882-5.859%2029.018-5.859%2014.788-0.279%2029.576%203.767t24.833%2011.579q15.904%2011.719%2025.53%2033.901t8.231%2041.155q-1.395%2026.507%208.371%2059.71%209.487%2031.529%2037.109%2060.826%2015.346%2016.462%2027.762%2045.48t16.602%2053.292q2.232%2013.672%201.395%2023.577t-3.348%2015.485-5.581%206.138q-2.79%200.558-6.557%205.301t-7.534%209.905-11.3%209.347-17.020%203.906q-5.022-0.279-8.789-1.395t-6.278-3.767-3.767-4.325-3.208-5.72-2.511-5.441q-6.138-10.324-11.44-8.371t-7.813%2013.672%201.953%2027.065q5.581%2019.531%200.279%2054.409-2.79%2018.136%205.022%2028.042t20.368%209.208%2023.716-9.905q16.462-13.672%2024.972-18.555t28.878-11.858q14.788-5.022%2021.484-10.184t5.162-9.626-6.976-7.952-14.37-6.557q-9.208-3.069-13.812-13.393t-4.185-20.229%204.325-13.253q0.279%208.649%202.232%2015.765t4.046%2011.3%205.72%207.952%205.859%205.301%205.999%203.627%204.604%202.651z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E') }
.ui-nosvg .ui-icon-linux:after { background-image: url('png_images/linux.png'); }


.ui-icon-windows:after { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M190.29%20280.692v181.641l-190.29-26.228v-155.413h190.29zM190.29%2073.382v183.873h-190.29v-157.645zM464.286%20280.692v219.308l-253.069-34.877v-184.431h253.069zM464.286%2035.714v221.54h-253.069v-186.663z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E') }
.ui-nosvg .ui-icon-windows:after { background-image: url('png_images/windows.png'); }


.ui-icon-share-square-o:after { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%20Tiny%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11-tiny.dtd%22%3E%3Csvg%20version%3D%221.1%22%20baseProfile%3D%22tiny%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%20500%20500%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpath%20d%3D%22M392.857%20275.949v72.266q0%2033.203-23.577%2056.78t-56.78%2023.577h-232.143q-33.203%200-56.78-23.577t-23.577-56.78v-232.143q0-33.203%2023.577-56.78t56.78-23.577h71.149q3.627%200%206.278%202.651t2.651%206.278q0%207.534-7.254%208.929-21.484%207.254-37.109%2016.741-2.79%201.116-4.464%201.116h-31.25q-18.415%200-31.529%2013.114t-13.114%2031.529v232.143q0%2018.415%2013.114%2031.529t31.529%2013.114h232.143q18.415%200%2031.529-13.114t13.114-31.529v-59.71q0-5.301%205.022-8.091%207.813-3.627%2015.067-10.324%204.464-4.464%209.766-2.232%205.859%202.511%205.859%208.091zM458.984%20137.556l-107.143%20107.143q-5.022%205.301-12.556%205.301-3.348%200-6.976-1.395-10.882-4.743-10.882-16.462v-53.571h-44.643q-90.123%200-122.21%2036.551-33.203%2038.226-20.647%20131.976%200.837%206.417-5.581%209.487-2.232%200.558-3.348%200.558-4.464%200-7.254-3.627-2.79-3.906-5.859-8.649t-11.021-19.113-13.812-27.762-10.742-31.808-4.883-34.040q0-13.672%200.977-25.391t3.906-25.112%207.813-24.554%2013.114-22.74%2019.113-20.647%2026.367-17.16%2034.738-13.532%2044.503-8.51%2054.827-3.069h44.643v-53.571q0-11.719%2010.882-16.462%203.627-1.395%206.976-1.395%207.254%200%2012.556%205.301l107.143%20107.143q5.301%205.301%205.301%2012.556t-5.301%2012.556z%22%20fill%3D%22%23ffffff%22%20%2F%3E%3C%2Fsvg%3E') }
.ui-nosvg .ui-icon-share-square-o:after { background-image: url('png_images/share-square-o.png'); }

